.banner {
  background-image: url('../../images/background.png');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 60px;
  height: 380px;

}

.banner h1 {
  color: white;
  margin: 100px 0 0 200px;
}

.banner p {
  margin: 20px 0 40px 200px;
  font-size: 18px;
  color: #D6D8D9;
}
